<body>
	<p>Enter values to convert</p>



	<form asp-controller="Home" asp-action="Convert" method="post">
		<textarea id="text" name="text" rows="10" cols="40"></textarea>

		<input type="submit" name="action" value="Yards to meters" />
		<input type="submit" name="action" value="Inches to centimeters" />
	</form>